.closeButton {}

.popOver {
  background-color: white;
  color: black;
  border: 1px solid grey;
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
}

.header {
  font-size: 20pt;
  font-family: "Domine";
  color: #373935;
  font-weight: 900;
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 0px;
}

.bio {
  font-size: 14pt;
  font-family: "Domine";
  color: black;
  box-sizing: border-box;
  padding: 10px;
}
